* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  box-sizing: border-box;
}
.progress-bar {
  margin: 100px;
  width: 80%;
  text-align: center;
}
.linkTag {
  text-decoration: none;
  color: white;
}
